{namespace addr=Tx_Addresses_ViewHelpers}

<div class="tx_addresses_pi1_index">
	<ul>
		<f:for each="{addresses}" as="address">
			<li>
				<h3><f:link.action action="show" arguments="{address : address}">{address.title} {address.first_name} {address.last_name}</f:link.action></h3>
				<p>
					<f:format.Nl2br>{address.address}</f:format.Nl2br><br />
					{address.zip} {address.city} <br />
					{address.country}
				</p>
			</li>
		</f:for>
	</ul>

	<div class="pagebrowser">
			<addr:pagebrowser items="{totalPages}" max="{maxItems}" />
	</div>
</div>