{namespace addr=Tx_Addresses_ViewHelpers}

<div class="tx_addresses_pi1_index">
	<ul>
		<f:for each="{addresses}" as="address">
			<li>
				<h3><f:link.action action="show" arguments="{address : address}">{address.title} {address.firstName} {address.lastName}</f:link.action></h3>
				<p>
					<f:format.Nl2br>{address.address}</f:format.Nl2br><br />
					{address.zip} {address.city} <br />
					{address.country}
				</p>
			</li>
		</f:for>
	</ul>

	<div class="pagebrowser">
			<addr:pagebrowser totalCountOfAddresses="{totalPages}" maxAddressesToDisplay="{maxItems}" />
	</div>
	<div class="download">
		<f:link.action action="vcards">
			<f:image src="typo3conf/ext/addresses/Resources/Private/Icons/v-vcards.png" maxWidth="140" alt="vCard" />
			<!--<f:translate key="download_vcards">Download all as vCards</f:translate>-->
		</f:link.action>
	</div>
</div>