{namespace addr=Tx_Addresses_ViewHelpers}

<div class="tx_addresses_pi1_index">
	<ul>
		<f:for each="{addresses}" as="address">
			<li>
				<h3><f:link.action action="show" arguments="{address : address}">{address.title} {address.firstName} {address.lastName}</f:link.action></h3>
				<p>
					<f:format.Nl2br>{address.address}</f:format.Nl2br><br />
					{address.postalCode} {address.locality} <br />
					{address.country}
				</p>
			</li>
		</f:for>
	</ul>

	<div class="pagebrowser">
			<addr:pagebrowser 
				totalCountOfAddresses="{totalPages}" 
				maxAddressesToDisplay="{maxItems}" 
				previousLabel="<f:translate key='previousLabel'>Previous</f:translate>" 
				pageLabel="<f:translate key='pageLabel'>Page</f:translate>" 
				outOfLabel="<f:translate key='outOfLabel'>out of</f:translate>" 
				nextLabel="<f:translate key='nextLabel'>Next</f:translate>" 			
			/>
	</div>
<!--  	<div class="download">
		<f:link.action action="vcards" additionalParams="{eID : 'vcard'}">
			<f:image src="typo3conf/ext/addresses/Resources/Private/Icons/v-vcards.png" maxWidth="140" alt="<f:translate key='download_vcards'>Download all as vCards</f:translate>" />
		</f:link.action>
	</div>
-->
</div>