{namespace addr=Tx_Addresses_ViewHelpers}

<div class="tx_addresses_pi1_show">
	<h3> 
		<f:translate key="{address.gender}">Mr./Mrs.</f:translate>
		{address.title} 
		{address.firstName} 
		{address.lastName}
	</h3>
	<f:image src="uploads/pics/{address.image}" alt="{address.name}" maxWidth="140" />
	<address>
		<f:format.Nl2br>{address.address}</f:format.Nl2br><br />
					{address.postalCode} {address.locality} <br />
					{address.country}
	</address>
	<p>
		<addr:brIfSet key="{address.phone}"><f:translate key="phone">Phone:</f:translate> {address.phone}</addr:brIfSet>
		<addr:brIfSet key="{address.mobile}"><f:translate key="mobile">Mobile:</f:translate> {address.mobile}</addr:brIfSet>
		<addr:brIfSet key="{address.fax}"><f:translate key="fax">Fax</f:translate> {address.fax}</addr:brIfSet>
		<addr:brIfSet key="{address.email}"><f:translate key="email">Email:</f:translate> <f:link.email email="{address.email}" /></addr:brIfSet>
		<addr:brIfSet key="{address.website}"><f:translate key="website">WWW:</f:translate> <f:link.external uri="{address.website}">{address.website}</f:link.external></addr:brIfSet>
	</p>
	
	<p>
		<addr:brIfSet key="{address.company}"><f:translate key="company">Company:</f:translate> {address.company}</addr:brIfSet>
		<addr:brIfSet key="{address.room}"><f:translate key="room">Room:</f:translate> {address.room}</addr:brIfSet>
		<addr:brIfSet key="{address.building}"><f:translate key="building">Building:</f:translate> {address.building}</addr:brIfSet>
	</p>
	<!--
	<f:for each="{address.addressgroups}" as="group">
		<f:translate key="group">Group:</f:translate> {group}<br />
	</f:for>
	-->
	<div class="download">
		<f:link.action action="vcard" arguments="{address : address}" additionalParams="{eID : 'vcard'}">
			<f:image src="typo3conf/ext/addresses/Resources/Private/Icons/v-vcard.png" maxWidth="140" alt="<f:translate key='download_vcard'>Download as vCard</f:translate>" />
		</f:link.action>
	</div>
	<f:link.action action="index"><f:translate key="back_to_list">Back to list</f:translate></f:link.action>
</div>
