<table style="margin-left:45px; width: 90%; -moz-user-select: text; -khtml-user-select:text; -webkit-user-select:ignore;">
	<tbody>
		<tr>
			<td>
				<p style="font-size: 104%; color: gray">Contact</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p><?php print $address['title'] ?></p>
					<p><?php print $address['first_name'] ?> <?php print $address['last_name'] ?></p>
				</div>
				<p style="font-size: 104%; color: gray">Info</p>
				<div style="margin-left: 20px">
					<?php if ($address['gender'] != ''): ?>
						<p>Genre: <?php print $address['gender'] ?></p>
					<?php endif ?>
					<?php if ($address['language'] != ''): ?>
						<p>Langue: <?php print $address['language'] ?></p>
					<?php endif ?>
					<?php if ($address['birth_date'] != '' && $address['birth_date'] != '0'): ?>
						<p>Date de naissance: <?php print $address['birth_date'] ?></p>
					<?php endif ?>
					<?php if ($address['marital_status_text'] != ''): ?>
						<p>Etat civil: <?php print $address['marital_status_text'] ?></p>
					<?php endif ?>
					<?php if ($address['nationality'] != ''): ?>
						<p>Nationalité: <?php print $address['nationality'] ?></p>
					<?php endif ?>
				</div>
			</td>
			<!--
			<td>
				<p style="font-size: 104%; color: gray">Home</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>Av Beauregard 12</p>
					<p>1700 Fribourg</p>
					<button>Map</button>
				</div>
				<p style="font-size: 104%; color: gray;">Professional</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>Rue de la Serre 11</p>
					<p>2000 Neuchâtel</p>
					<p>Switzerland</p>
					<button>Map</button>
				</div>
			</td>
			-->
			<?php if (!empty($contactnumbers)): ?>
			<td>
				<?php foreach ($contactnumbers as $contactnumber): ?>
				<p style="font-size: 104%; color: gray;"><?php print $contactnumber['nature']?></p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p><?php print $contactnumber['number_evaluated']?></p>
				</div>
				<?php endforeach ?>
			</td>
			<?php endif ?>
			<?php if (!empty($addressgroups)): ?>
			<td>
				<p style="font-size: 104%; color: gray">Groupes</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<ul>
					<?php foreach ($addressgroups as $addressgroup): ?>
						<li style="list-style-type: disc"><?php print $addressgroup['title']?></li>
					<?php endforeach ?>
					</ul>
				</div>
			</td>
			<?php endif ?>
			<?php if ($address['remarks'] != ''): ?>
			<td>
				<p style="font-size: 104%; color: gray">Remarque</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p><?php print $address['remarks']?></p>
				</div>
			</td>
			<?php endif ?>
		</tr>
	</tbody>
</table>
