<table style="margin-left:45px; width: 90%; -moz-user-select: text; -khtml-user-select:text; -webkit-user-select:ignore;">
	<tbody>
		<tr>
			<td>
				<p style="font-size: 104%; color: gray">###LLL:EXT:addresses/Module/Resources/Private/Language/locallang.xml:name###</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p><?php print $address['title'] ?></p>
					<p><?php print $address['first_name'] ?> <?php print $address['last_name'] ?></p>
				</div>
				<p style="font-size: 104%; color: gray">###LLL:EXT:addresses/Module/Resources/Private/Language/locallang.xml:information###</p>
				<div style="margin-left: 20px">
					<?php if ($address['gender'] != ''): ?>
						<p>Genre: <?php print $address['gender'] ?></p>
					<?php endif ?>
					<?php if ($address['language'] != ''): ?>
						<p>Langue: <?php print $address['language'] ?></p>
					<?php endif ?>
					<?php if ($address['birth_date'] != '' && $address['birth_date'] != '0'): ?>
						<p>Date de naissance: <?php print $address['birth_date'] ?></p>
					<?php endif ?>
					<?php if ($address['marital_status_text'] != ''): ?>
						<p>Etat civil: <?php print $address['marital_status_text'] ?></p>
					<?php endif ?>
					<?php if ($address['nationality'] != ''): ?>
						<p>Nationalité: <?php print $address['nationality'] ?></p>
					<?php endif ?>
				</div>
			</td>
			<?php if (!empty($locations)): ?>
			<td>
				<?php foreach ($locations as $location): ?>
				<p style="font-size: 104%; color: gray"><?php print $location['nature'] ?></p>
				<div style="margin-left: 20px; margin-bottom: 10px">
					<p><?php print $location['street'] ?></p>
					<p><?php print $location['postal_code'] ?> <?php print $location['locality'] ?></p>
					<button onclick="window.open('http://maps.google.com/maps?q=<?php print urlencode($location['street']) ?> <?php print $location['postal_code'] ?> <?php print urlencode($location['locality']) ?>')"
							style="margin-top: 10px">###LLL:EXT:addresses/Module/Resources/Private/Language/locallang.xml:get_map###</button>
				</div>
				<?php endforeach ?>
			</td>
			<?php endif ?>
			<?php if (!empty($contactnumbers)): ?>
			<td>
				<?php foreach ($contactnumbers as $contactnumber): ?>
				<p style="font-size: 104%; color: gray;"><?php print $contactnumber['nature']?></p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p><?php print $contactnumber['number_evaluated']?></p>
				</div>
				<?php endforeach ?>
			</td>
			<?php endif ?>
			<?php if (!empty($addressgroups)): ?>
			<td>
				<p style="font-size: 104%; color: gray">###LLL:EXT:addresses/Resources/Private/Language/locallang_tca.xml:groups###</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<ul>
					<?php foreach ($addressgroups as $addressgroup): ?>
						<li style="list-style-type: disc"><?php print $addressgroup['title']?></li>
					<?php endforeach ?>
					</ul>
				</div>
			</td>
			<?php endif ?>
			<?php if ($address['remarks'] != ''): ?>
			<td>
				<p style="font-size: 104%; color: gray">###LLL:EXT:addresses/Module/Resources/Private/Language/locallang.xml:remarks###</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p><?php print $address['remarks']?></p>
				</div>
			</td>
			<?php endif ?>
		</tr>
	</tbody>
</table>
