<table style="margin-left:45px; width: 90%; -moz-user-select: text; -khtml-user-select:text; -webkit-user-select:ignore;">
	<tbody>
		<tr>
			<td>
				<p style="font-size: 104%; color: gray">Contact</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>Monsieur</p>
					<p>Fabien Udriot</p>
				</div>
				<p style="font-size: 104%; color: gray">Info</p>
				<div style="margin-left: 20px">
					<p>Genre: Masculin</p>
					<p>Langue: Français</p>
					<p>Date de naissance: 09.12.78</p>
					<p>Etat civil: Marié</p>
					<p>Nationalité: Suisse</p>
				</div>
			</td>
			<td>
				<p style="font-size: 104%; color: gray">Home</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>Av Beauregard 12</p>
					<p>1700 Fribourg</p>
					<button>Map</button>
				</div>
				<p style="font-size: 104%; color: gray;">Professional</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>Rue de la Serre 11</p>
					<p>2000 Neuchâtel</p>
					<p>Switzerland</p>
					<button>Map</button>
				</div>
			</td>
			<td>
				<p style="font-size: 104%; color: gray;">Mobile</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>078 770 70 65</p>
				</div>
				<p style="font-size: 104%; color: gray">Privé</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>032 511 08 17</p>
				</div>
			</td>
			<td>
				<p style="font-size: 104%; color: gray">Groupes</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>Aumônier</p>
					<p>Pasteur</p>
				</div>
			</td>
			<td>
				<p style="font-size: 104%; color: gray">Remarque</p>
				<div style="margin-left: 20px; margin-bottom: 20px">
					<p>vel lectus. Cum sociis et netus et malesuada</p>
				</div>
			</td>
		</tr>
	</tbody>
</table>
