/* $Id$ */
body .x-panel { margin-bottom:20px; }

.icon-grid { background-image:url('../icons/user.png') !important; }

#button-grid .x-panel-body {
	border:1px solid #99bbe8;
	border-top:0 none;
}

.delete { background-image: url('../icons/delete.gif') !important; }
.undelete {	background-image: url('../icons/arrow_rotate_anticlockwise.png') !important; }
.backup { background-image: url('../icons/database_save.png') !important; }
.filter_refresh { background-image: url('../icons/filter_refresh.png') !important; }
.filter_clear { background-image: url('../icons/filter_clear.png') !important; }

.deletedPath { color: #ff0000; font-weight: bold; }

/* a better display for the progress bar */
div.x-progress-inner div.x-progress-text:first-child {display:none}

/* Makes the close button invisible
div.x-window-tc div.x-tool-close {visibility: hidden}
*/

/* Makes the inner window a bit bigger */
div.x-window-bbar div.x-toolbar {border-top-width: 0px;}
div.x-panel-mc, div.x-panel-ml, div.x-panel-mr, div.x-panel-bl, div.x-panel-tl  {padding: 0; border: 0;}
div.x-panel-bl {height: 0}
div.x-window-body {padding: 0px; border-top-width: 0px;}
div.x-tab-panel-body {border: 0px; }

div.x-window-body label { display: block; margin: 5px 0; }
div.x-window-body .x-form-cb-label { margin-left: 5px; }

.blue-row .x-grid3-cell-inner{
	color:blue;
}
.red-row .x-grid3-cell-inner{
	color:red;
}
.green-row .x-grid3-cell-inner{
	color:green;
}

.pointer {cursor: pointer}
.window-icon { background: url(../icons/filter_refresh.png) 0 6px no-repeat !important;}

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

body .x-panel {margin-bottom:0}

.x-tbar-page-number {
	padding-top: 2px
}

div.x-panel-header {
	background-image: url(/typo3/sysext/t3skin/extjs/images/tabs/tab-strip-bg.gif);
	border-left-width: 0;
	border-top-width: 0;
	padding-bottom: 3px;
}

div.x-tab-panel-header {
	border-width: 0;
	padding-bottom: 0px;
}

.x-panel {
	background-color: #EFEFEF;
	background-color: #FFF;
}

.x-box-mc {
	font-weight: normal;
}

.x-grid3-row td, .x-grid3-summary-row td {
    -moz-user-select: text;
    -khtml-user-select:text;
    -webkit-user-select:text;
}

.x-grid3-row td.x-grid3-cell {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: ignore;
}