/* $Id$ */
body .x-panel { margin-bottom:20px; }

.icon-grid { background-image:url('../icons/user.png') !important; }

#button-grid .x-panel-body {
	border:1px solid #99bbe8;
	border-top:0 none;
}

.delete { background-image: url('../icons/delete.gif') !important; }
.undelete {	background-image: url('../icons/arrow_rotate_anticlockwise.png') !important; }
.backup { background-image: url('../icons/database_save.png') !important; }
.filter_refresh { background-image: url('../icons/filter_refresh.png') !important; }
.filter_clear { background-image: url('../icons/filter_clear.png') !important; }

.deletedPath { color: #ff0000; font-weight: bold; }

div.x-progress-inner div.x-progress-text:first-child {display:none}

.x-window-body { padding: 5px; }
.x-window-body label { display: block; margin: 5px 0; }
.x-window-body .x-form-cb-label { margin-left: 5px; }


.blue-row .x-grid3-cell-inner{
	color:blue;
}
.red-row .x-grid3-cell-inner{
	color:red;
}
.green-row .x-grid3-cell-inner{
	color:green;
}

.pointer {cursor: pointer}

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}

.my-icon { background: url(../icons/filter_refresh.png) 0 6px no-repeat !important;}

body .x-panel {margin-bottom:0}

.x-tbar-page-number {
	padding-top: 2px
}

.x-panel-header {
	background-image: url(/typo3/sysext/t3skin/extjs/images/tabs/tab-strip-bg.gif);
	border-left-width: 0;
	padding-bottom: 3px;
}

.x-tab-strip, .x-tab-panel-header {
	border-bottom-width: 0px;
	padding-bottom: 0px;
}

.x-tab-panel-body, .x-tab-panel-header {
	border-right-width: 0;
}
.x-panel {
	background-color: #EFEFEF;
	background-color: #FFF;
}

.x-box-mc {
	font-weight: normal;
}