body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 13px;
} 

.tx_addresses_pi1_show h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 0;
    font-size: 110%;
} 

.tx_addresses_pi1_show a {
    color: #006F24;
    text-decoration: none;
} 

.tx_addresses_pi1_show a:hover {
    color: #EF8100;
} 

.tx_addresses_pi1_index p {
    margin-top: 3px;
}
